@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
:root{
  --bg: #fff;
  --fg: #000;
  --color: #6b9658;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
   
  background-size: cover;
  background-attachment: fixed;
  /* background-color: #000511; */
}
.mynav h4{
  font-size: larger;
  color: #ffffff;
  margin:0 !important;
  /* color: 000511; */
}

.mynav p{
  font-size:large;
  color: #ffffff !important;
  margin:0 !important;
  /* color: 000511; */
}
.box{
  background-color: #e7e7e700;
  width: 280px;
  /* margin: 10px; */
  padding: 20px;
  /* border-color: #000 !important; */
  border: 2px solid #000511;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000511;
  box-shadow: 5px 10px 5px 5px #444;
  z-index: +2;
  border-radius: 15px;
}
.box h1{
  float: left;
  font-size: 30px;
  border-bottom: 6px solid var(--color);
  margin-bottom: 20px;
  padding: 5px 0;
}
/* var(--color) */
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid var(--color);
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(7, 7, 7);
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn{
  width: 45%;
  background: none;
  background-color: transparent;
  border: 1px solid var(--color);
  color: var(--color);
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  margin: 12px 3px;
}
.btn:hover{
  background-color: var(--color);
  color: #fff;
}

.errorbox{
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  
  padding: 8px 0;
  margin: 8px 0;
  
}
.errorbox h2{
  border: none;
  outline: none;
  background: none;
  color: rgb(223, 93, 93);
  font-size: 18px;
  width: 100%;
  float: left;
  margin: 0 0;
}
.alert{
  text-align: left;
  font-size: 12px;
}
.alert strong{
  padding-top: 2px;
  padding-bottom: 2px;
}
/* .quiz-home-sec{
  display: inline;
} */
.quiz-create-sec{
  display: inline-block;
  /* margin: 10px; */
  /* float: left; */
  font-size: 20px;
  font-family: sans-serif;
  /* border: 0px solid #000; */
  padding: 10px 20px;
  text-align: justify;
}
.quiz-create-sec .btn{
  width: 25%;
}
.home{
  margin: 10px;
  margin-top: 50px;
  border: 0px solid #000;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.quizdetails{
  align-content: center;
}