{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Give EasyToQuiz </title>
    <link rel="shortcut icon" href="../static/Logo2.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body>
    <form action="responses_data" method="POST">{% csrf_token %}
      <input type="text" class="display_none" value={{user.id}} name="user_id">
      <div class="box">
        <h1>Quiz Code</h1>
        <div class="textbox">
          <i class="fas fa-file"></i>
          <input type="text" name="quizcode" placeholder="Quiz Code">
        </div>
        <input type="submit" value="Show" class="btn">
      </div>
    </form>
    {% if mymessage %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{mymessage}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

</html>