{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Quiz submited</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
<section class="mysection-response">
				<div class="container">
					<div class="section">
						<div class=" item quiz-item">
				
							<h1>Responce have been Recorded</h1>
							
						</div>
                        <div class="item quiz-item" align="center">
                            <a href="/EasyToQuiz/" class="btn">Back to home</a>
                        </div>
					</div>
				</div>
			</section>



</body>
</html>